* {
    box-sizing: border-box;
}
body {
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: 1.7;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/*********************
CONTAINER PRODUCTS
 ********************/

.container-products {
    display: flex;
    flex-wrap: wrap;
}
.item {
    width: 200px;
    margin: 20px;
    padding: 15px 30px;
    border-radius: .25rem;
    box-shadow: 0 16px 24px 2px rgba(33,37,41,0.2);
}
.name {
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 0;
}
.image {
    height: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    filter: grayscale(50%);
}
.price {
    padding: 15px 0;
}
.btn {
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid grey;
    outline: none;
    background: none;
    font-family: inherit;
    font-size: inherit;
}

.btn-active {
    border: 1px solid transparent;
    background-image: linear-gradient(to right top, #2161c0, #377fd0, #589cdc, #7db9e7, #a7d5f2);
}

/*********************
CONTAINER COUNTER
 ********************/
.container-counter {
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/cart.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    color: cornflowerblue;
    font-weight: bold;
    margin: 15px 30px;
}
